.nav-bar{
    padding: 5px 50PX 5px 50px;
    background-color: aquamarine;
    
    
}
.nav-link:hover {
    color: #FBBF19 !important;
    
}
.nav-link.active {
    color: #FBBF19 !important; /* Remplacez cette valeur par la couleur souhaitée */
    font-weight: bold; /* Optionnel : pour rendre le texte en gras */
    
}

.section1{
    
    background-color: #FFFFFF;
  }
  .titresecttion1{
    text-align: center;
  }

  .section2{
    text-align: center;
    background-color: #F4FFF8;
  }
  .infos{
    background-color: #009640;
  }

  /* Debut du footer */
.footer{
    background-color: #01220F;
  }
  
  .footer a {
    text-decoration: none;
    
    color: inherit; /* Pour hériter de la couleur du parent */
  }
  
  .footer ul {
    list-style: none; /* Enlève les points de liste */
    padding: 0; /* Enlève le padding par défaut */
  }
  
  .footer ul a{
    color: rgba(255, 255, 255, 0.7); 
  }
  
  .descript p{ 
    color: rgba(255, 255, 255, 0.7); 
  }
  
  .descript{
    color: #ffffff;
  
    font-size: 1rem;
    
  }
  
  .footer ul a:hover{
    color: #FBBF19;
  }
  
  .allrights{
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
  }
  .highlight{
    color: #FBBF19;
  }
  /* Fin du footer */